*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}

html{
    background-image:url("../img/timg.jpg");
    background-size:cover;
}

.loginBox{
    width: 400px;;
    height:370px;
    background-color:rgba(255,255,255,0.9);
    position:fixed;
    right:300px;
    top:150px;
}
.loginBox h1{
    text-align: center;
    color:#5EB0FA;
    font-weight: 500;
    padding:10px 0;
}
.loginBox .box{
    width:340px;
    height:40px;
    margin:0 auto;
    background-color:#fff;
    margin-top:25px;
}
.loginBox .box label{
    display: block;
    width:40px;
    float:left;
}
.loginBox .box label img{
    height:20px;
    margin-top:10px;
    margin-left:10px;
}
.loginBox .box input{
    display: block;
    width:300px;
    height:40px;
    box-sizing: border-box;
    float:right;
    border:0;
    outline: none;
    text-indent:1em;
}
.loginBox .box button{
    border:0;
    width:100%;
    height:100%;
    background-color:#5EB0FA;
    color:#fff;
}

.box1{
    padding-top:10px;
}
.box1 a{
    color:#333;
    font-size:12px;
    margin-left:30px;
}