<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <link rel="stylesheet" href="../static/css/changePassword.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <header>修改密码</header>
    <div class="main">
        <form action="javascript:;">
            <div class="box">
                <label for="">旧密码:</label>
                <input type="text" id="old" name="old">
            </div>
            <div class="box">
                <label for="">新密码:</label>
                <input type="text" id="new1" name="new1">
            </div>
            <div class="box">
                <label for="">重复密码:</label>
                <input type="text" id="new2" name="new2">
            </div>
            <div class="box">
                <button id="button">提交</button>
            </div>
        </form>
    </div>
</body>
<script>
    $("#button").on("click",function(){
        let new1 = $("#new1").val()
        let new2 = $("#new2").val()
        let old = $("#old").val()
        if(old.length >= 5 && new1 == new2) {
            $.ajax({
               url:"/editPassword", //对应后台的路由
               data:{"password":new1,"old":old},
               type:"post",
               success:function(e) {
                   if(e == "ok") {
                       alert("修改成功")
                      parent.location.href = ("/login")  //跳转登录页面
                   } else if(e == "no") {
                       alert("修改失败,请重新修改")
                   }
               }
           })
        }
    })
</script>

</html>