<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/index2.css">
</head>
<body>
    <header>
        <div class="logo"></div>
        <a href="/loginout">退出登陆</a>
    </header>
    <div class="left">
        <div class="title">
            菜单列表
        </div>
        <ul>
            <li>
                <a href="/sendEmail" target="iframe">邮件发送</a> 
            </li>
            <li>
                <a href="/getEmail" target="iframe">邮件获取</a> 
            </li>
            <li>
                <a href="/changePassword" target="iframe">密码管理</a> 
            </li>
        </ul>
    </div>
    <div class="main">
        <iframe src="" frameborder="0" name="iframe"></iframe>
    </div>
</body>
</html>