<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/show.css">
</head>
<body>
    {{data}}
    <div class="box">
        <h2>邮件类型：</h2>
        <p>{{ data[0] }}</p>
    </div>
    <div class="box">
        <h2>概率：</h2>
        <p>{{ data[1] }}</p>
    </div>
    <div class="box">
        <h2>具体信息：</h2>
        <p>{{ data[2] }}</p>
    </div>

    <a href="/sendEmail" class="button">邮件发送</a>
</body>
</html>